html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  position: relative;
  width: 1000px;
  margin: 50px auto 0;
  padding: 0 20px;
}

.js-button {
  width: 100px;
  padding: 5px;
  display: inline-block;
  color: #fff;
  background-color: #6a0d0d;
  border-radius: 5px;
}

.js-form {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0 auto 50px;
  padding: 20px 10px;
  background-color: #1c969d;
  text-align: center;
  border-radius: 5px;
}

.overlay-show {
  display: block;
  left: 0;
  right: 0;
}

.btn {
  margin-top: 10px;
}

.js-input {
  border-radius: 5px;
}

.box {
  display: flex;
  align-items: center;
}

.list2 {
  margin-left: 700px;
}

.content {
  margin-left: 500px;
}
